*{
     box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
html,body,#app{
    width: 100%;
    height: 100%;
}
body,p,ul{
    margin: 0;
    padding: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
}
.clearfix:after{
    content: "";
    height: 0;
    display:block;
    clear: both;
    visibility: hidden;
}
.clear{
    clear: both;
}
